body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 30% 70%;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.header {
	grid-area: header;
	padding:10px;
	background-color: rgb(45, 59, 77);
	color: white;
	font-size: 2em;
}

.h1 {
	font-size: 20px
}

.stuff {
	padding: 20px
}

.sidebar {
	color: rgb(255, 255, 255);
	grid-area: sidebar;
	padding:10px;
	background-color: rgb(69, 86, 109);
    overflow: auto;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	padding:10px;
	background-color: rgb(175, 175, 175);
}

.sidebar-item {
	padding: 10px;
	background: rgb(124, 137, 155);
	color:rgb(255, 255, 255);
	border: 2px;
	text-align: center;
	font-size: 18px;
	margin: 10px;
	font-family:'Tahoma';
}

.sidebar-item:hover{
	padding: 10px;
	background: rgb(140, 155, 177);
	color:rgb(255, 255, 255);
	border: 2px;
	text-align: center;
	font-size: 18px;
	margin: 10px;
	font-family:'Tahoma';
}
