body {
    background-color: rgb(74, 109, 88);
  }
  
  h1 {
    color: rgb(213, 236, 209);
    margin-left: 20px;
    font-family: 'Arial';
  }

  p {
    color: rgb(198, 240, 191);
    font-size: 17px;
    margin-left: 20px;
    font-family: 'Arial';
  }
  
  ul{
    color: rgb(198, 240, 191);
    font-size: 17px;
    margin-left: 20px;
    font-family: 'Arial';
  }

  a {
      margin-left: 20px;
  }